@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

*,
body,
::after,
::before {

    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {

    width: 100%;
    height: 100vh;
    position: relative;

    header {


        width: 100%;
        height: 9vh;
        padding: 0 1.5rem;
        background-color: #1D2F6F;
        display: flex;
        justify-content: center;
        align-content: center;

        nav {
            width: 100%;
            height: 100%;


            display: flex;
            justify-content: space-around;
            align-items: center;

            .logo {

                color: white;
                font-family: 'Fredoka One', cursive;
                font-size: 23px;

            }

            ul {
                list-style: none;
                font-family: 'Exo 2', sans-serif;

                li {
                    margin-left: 5rem;
                    font-size: 16px;
                    float: left;

                    a {
                        color: white;
                        text-decoration: none;

                    }
                }
            }

            .buttons {

                .btn_login {

                    padding: 0.6rem 1.8rem;
                    border: none;
                    outline: none;
                    border-radius: 3px;
                    color: #1D2F6F;
                    background-color: white;

                }

                .btn_sigin {
                    padding: 0.6rem 1.8rem;
                    border: none;
                    outline: none;
                    border-radius: 3px;
                    color: white;
                    background-color: black;
                    color: white;


                }


            }
        }

    }


    .fondu-out {
        opacity: 0;
        transition: opacity 0.4s ease-out;
    }


    .loader {

        position: absolute;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1D2F6F;
        z-index: 10;
        overflow: hidden;



        span {

            color: #3B28CC;
            font-size: 80px;
            letter-spacing: 15px;

            animation: flash 1.2s linear infinite;

            &:nth-child(1) {
                animation-delay: 0.1s;

            }


            &:nth-child(2) {
                animation-delay: 0.2s;


            }

            &:nth-child(3) {
                animation-delay: 0.3s;

            }

            &:nth-child(4) {
                animation-delay: 0.4s;

            }

            &:nth-child(5) {
                animation-delay: 0.5s;

            }

            &:nth-child(6) {
                animation-delay: 0.6s;

            }

            &:nth-child(7) {
                animation-delay: 0.7s;

            }




        }

        @keyframes flash {

            0% {

                color: #3B28CC;
                text-shadow: 0 0 7px #fff900;


            }

            90% {
                color: #484848;
                text-shadow: none;
            }

            100% {
                color: #3B28CC;
                text-shadow: 0 0 7px #fff900;


            }

        }

    }

    .hero {

        width: 100%;
        height: 60vh;
        background: rgb(63, 142, 252);
        background: linear-gradient(90deg, rgba(63, 142, 252, 1) 0%, rgba(135, 191, 255, 0.3393732492997199) 48%, rgba(173, 215, 246, 1) 72%, rgba(255, 255, 255, 0) 100%);
        display: flex;
        justify-content: center;
        align-content: center;
        position: relative;

        .left {
            //  background-color: blue;
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;


            .center {
                // background-color: rgb(158, 79, 79);

                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                width: 60%;
                height: 100%;

                h1 {
                    margin-bottom: 20px;
                    font-family: 'Fredoka One', cursive;
                    color: #3B28CC;
                    font-weight: 100;

                }

                p {
                    margin-bottom: 15px;
                    font-family: 'DM Sans', sans-serif;
                    color: #495fae;
                }

                button {

                    padding: 1rem 2rem;
                    background-color: #1D2F6F;
                    color: white;
                    border: none;
                    outline: none;
                    border-radius: 5px;
                    font-family: 'Fredoka One', cursive;

                }
            }


        }

        .right {
            //  background-color: red;
            width: 50%;
            height: 100%;

            .img {
                width: 100%;
                height: 100%;

                img {
                    width: auto;
                    height: 100%;

                }

            }


        }


        .book_section {

            position: absolute;
            width: 80%;
            height: 10vh;
            bottom: -50px;
            background: #1D2F6F;
            display: flex;
            justify-content: center;
            align-items: center;

            .inner_book {

                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;

                input {
                    width: 16%;
                    height: 80%;
                    outline: none;
                    border: none;
                    border-radius: 5px;
                    background-color: white;
                    padding: 0.6rem 1.2rem;
                }

                .book-btn {

                    cursor: pointer;
                    width: 100px;
                    height: 80%;
                    border-radius: 5px;
                    padding: 0.6rem 1.2rem;
                    background-color: #495fae;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;

                    a {

                        i {
                            color: white;
                        }

                    }





                }


            }


        }

    }

    .vide {
        width: 100%;
        height: 10vh;
        // background-color: blue;
    }

    .popular_destination {

        width: 100%;
        height: 600px;
        background-color: #2667FF;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .header {

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            // padding: 0.9rem 1.6rem;
            width: 100%;
            height: 20%;
            // background-color: yellow;


            span {
                font-size: 18px;
                margin-bottom: 5px;
                font-family: 'Quicksand', sans-serif;
                color: #1d2f6f88;

            }

            h1 {

                font-size: 29px;
                font-family: 'Quicksand', sans-serif;
                // color: #0a1436;
                color: white;
            }
        }

        .slider_container {

            max-width: 1120px;
            width: 100%;
            // background-color: gray;


            .slide-content {

                margin: 0 40px;

                .card-wrapper {

                    .card {
                        border-radius: 20px;
                        background-color: #1D2F6F;
                        width: 320px;
                        height: 400px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;

                        box-shadow: 1px 11px 11px -6px rgba(0, 0, 0, 0.48);
                        -webkit-box-shadow: 1px 11px 11px -6px rgba(0, 0, 0, 0.48);
                        -moz-box-shadow: 1px 11px 11px -6px rgba(0, 0, 0, 0.48);

                        .image-content {
                            position: relative;
                            height: 70%;
                            width: 100%;

                            // background-color: blue;
                            img {


                                height: 100%;
                                width: 100%;

                            }





                        }

                        .card-content {

                            width: 100%;
                            height: 30%;
                            background-color: white;
                            color: black;
                            padding: 0.4rem 1rem;
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
                            flex-direction: column;



                            span {
                                margin-bottom: 10px;
                                margin-top: 15px;
                            }

                            h2 {
                                margin-bottom: 10px;
                            }

                            .note {

                                width: 100%;
                                display: flex;
                                justify-content: space-between;

                                .secondNote {
                                    span {
                                        color: #3B28CC;

                                        i {
                                            color: #3B28CC;
                                            // font-size: 23px;
                                        }
                                    }
                                }




                            }

                        }
                    }

                }

            }

        }



    }

    .service {
        margin-top: 60px;
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;

        .left {
            width: 50%;
            height: 100%;
            // background-color: yellow;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            flex-direction: column;


            .image {
                width: 60%;
                height: 100%;
                // background-color: red;
                border-radius: 30px;
                padding-right: 20px;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 30px;

                    object-fit: cover;
                }
            }


        }

        .right {
            width: 50%;
            height: 100%;
            // background-color: red;

            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;

            .center {
                // background-color: blue;

                width: 60%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .header {
                    width: 100%;
                    height: 30%;
                    // background-color: #1D2F6F;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    flex-direction: column;

                    &::after {
                        content: "";
                        position: absolute;
                        left: 5px;
                        bottom: 5px;
                        border-radius: 10px;
                        height: 5px;
                        width: 60px;
                        background-color: #3B28CC;
                    }

                    span {
                        margin-bottom: 5px;
                        font-size: 18px;
                        color: #1d1e23a1;
                    }

                    h1 {
                        font-family: 'Quicksand', sans-serif;
                        color: #1d1e23a1;
                        font-size: 33px;

                    }



                }

                .content {
                    width: 100%;
                    height: 70%;
                    // background-color: gray;

                    display: flex;
                    justify-content: space-around;
                    align-items: flex-start;
                    flex-direction: column;

                    .card {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        // height: 60px;
                        // background-color: red;

                        .image {

                            width: 20%;
                            height: 100%;
                            background-color: rgba(174, 179, 184, 0.516);

                            display: flex;
                            justify-content: center;
                            align-items: center;

                            i {
                                font-size: 24px;
                                color: #3B28CC;
                            }

                        }

                        .text {
                            margin-right: 40px;

                            width: 70%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            align-items: flex-start;

                            h1 {

                                color: #192244ab;
                                font-size: 22px;


                            }

                            p {
                                color: #1d2f6f7e;
                                font-family: 'Fredoka One', cursive;

                            }

                        }
                    }

                }


            }



        }

    }

    .destination_inspiration {
        margin-top: 50px;

        width: 100%;
        height: 500px;

        // background-color: red;

        h1 {
            text-align: center;
            margin-bottom: 30px;
            font-family: 'Quicksand', sans-serif;
            font-size: 22px;

            color: #1d1e23a1;

        }

        .contain_inspiration {

            margin: 0 auto;
            width: 80%;
            height: 400px;
            // background-color: yellow;
            display: grid;
            grid-template-areas: "card1 car2 car3""card1 card4 car5";
            grid-gap: 10px;

            .card {
                background-color: rgba(28, 24, 24, 0.759);
                border-radius: 10px;
                overflow: hidden;
                position: relative;
                cursor: pointer;

                &:hover {

                    .card_text {

                        transform: translateY(0);
                        bottom: 0;

                    }


                }

                .img {

                    width: 100%;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }


                }

                .card_text {
                    position: absolute;
                    width: 100%;
                    height: 60px;
                    background-color: rgba(0, 0, 0, 0.389);
                    z-index: 10;

                    bottom: 0;
                    transform: translateY(100px);
                    transition: all ease 0.5s;
                    padding: 2rem 1rem;

                    p {

                        color: white;
                    }



                }
            }

            .card1 {
                grid-area: card1;

            }

        }


    }

    .footer {
        border-top: 1px solid #19224414;

        width: 100%;
        height: 100px;
        background-color: #ffffff;

        display: flex;
        justify-content: space-around;
        align-content: center;

        .logo {

            // background-color: red;
            height: 100%;
            width: 33%;
            display: flex;
            justify-content: center;
            align-items: center;

            h1 {

                font-size: 28px;
                color: #192244ab;
                margin-right: 40px;

                font-family: 'Fredoka One', cursive;


            }
        }

        ul {
            list-style: none;
            width: 23%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            // background-color: green;
            font-family: 'Quicksand', sans-serif;
            // padding: 0 7.6rem;



            li {


                a {

                    text-decoration: none;
                    color: #192244ab;

                }
            }
        }

        .social {

            width: 20%;
            // background-color: yellow;
            display: flex;
            justify-content: space-around;
            align-items: center;

            span {
                border-radius: 50%;
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;

            }

        }

    }


}